h1 {
	color: white;
	background-color: rgb(61, 11, 31);
	width: 500px;
	text-align: center;
	font-family: "Constantia";
	font-size: 100;
}

h2 {
	color: rgb(0,255,0);}

p { background-color: #808080 }

ol { 
	margin:50px 10px 50px 10px; 
	border-style: dotted;
	padding-top: 10px;
}

li { padding-bottom: 15px; }

img {

	height: 250px;
	width: 250px
}

body { text-align: center; }
