h1 { color: green;
		background-color: #9b5a74;
		text-align: right;  }

h2 { font-family: "Georgia";
	font-size: 150; 
	text-align: center;}

p { border-style: solid;
	border-color: red;
	margin: 50px }


 #bird{ color: blue }

 #mammal{ color: red; font-weight: bold; }

 #fish { color: orange; font-style: italic;} }




